A,
ABBR,
ACRONYM,
ADDRESS,
APPLET,
ARTICLE,
ASIDE,
AUDIO,
B,
BIG,
BLOCKQUOTE,
BODY,
CANVAS,
CAPTION,
CENTER,
CITE,
CODE,
DD,
DEL,
DETAILS,
DFN,
DIV,
DL,
DT,
EM,
EMBED,
FIELDSET,
FIGCAPTION,
FIGURE,
FOOTER,
FORM,
H1,
H2,
H3,
H4,
H5,
H6,
HEADER,
HGROUP,
HTML,
I,
IFRAME,
IMG,
INS,
KBD,
LABEL,
LEGEND,
LI,
MARK,
MENU,
NAV,
OBJECT,
OL,
OUTPUT,
P,
PRE,
Q,
RUBY,
S,
SAMP,
SECTION,
SMALL,
SPAN,
STRIKE,
STRONG,
SUB,
SUMMARY,
SUP,
TABLE,
TBODY,
TD,
TFOOT,
TH,
THEAD,
TIME,
TR,
TT,
U,
UL,
VAR,
VIDEO {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.global_wrapper {
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
}